<form hx-post="/reminder/verify-otp" hx-target="this" hx-swap="outerHTML" id="otpForm">
    <p>ingrese el código que recibió por whats:</p>
    <div class="otp-inputs">
        <input type="text" class="otp-input" maxlength="1" pattern="[0-9]" inputmode="numeric"
            autocomplete="one-time-code">
        <input type="text" class="otp-input" maxlength="1" pattern="[0-9]" inputmode="numeric">
        <input type="text" class="otp-input" maxlength="1" pattern="[0-9]" inputmode="numeric">
        <input type="text" class="otp-input" maxlength="1" pattern="[0-9]" inputmode="numeric">
        <input type="text" class="otp-input" maxlength="1" pattern="[0-9]" inputmode="numeric">
        <input type="text" class="otp-input" maxlength="1" pattern="[0-9]" inputmode="numeric">
    </div>
</form>