<div hx-get="/pet/list" hx-trigger="petRecordUpdated from:body">
    {% for pet in pets | default(value=[]) %}
    <article hx-target="this" hx-swap="outerHTML">
        <header>
            <nav>
                <aside>
                    <ul>
                        <h3><a href="/pet/details/{{pet.id}}">{{ pet.name | title }}</a></h3>
                        <p class="pet-card-subtitle">
                            {{ pet.breed | title }} • {{ pet.sex | title }} • {{ pet.fmt_age }}
                        </p>
                    </ul>
                </aside>
                <ul>
                    <li> <a href="/pet/qr_code/{{pet.external_id}}" data-download="qr_code_profile.png" class="icon-btn"
                            title="Descargar Código QR">
                            <span class="material-symbols-outlined">qr_code</span>
                        </a>
                    </li>
                    <li><a href="/pet/pdf_report/{{pet.id}}" data-download="pet_report.pdf" class="icon-btn"
                            title="Descargar Reporte PDF">
                            <span class="material-symbols-outlined">picture_as_pdf</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <container>
            <div class="pet-card-body">
                <div class="public-link-area">
                    <div class="public-link-container">
                        <span class="public-link-text"><a href="/info/{{pet.external_id}}">pet-info.link/info/{{pet.external_id}}</a></span>
                        <button class="copy-btn material-symbols-outlined" data-copy-path="/info/{{pet.external_id}}"
                            title="Copiar Link Público">
                            content_copy
                        </button>
                    </div>
                </div>
            </div>
            <div style="margin: 1rem auto;">
                <ul>
                    <li><a href="/pet/health/{{pet.external_id}}/weight">peso</a></li>
                    <li><a href="/pet/health/{{pet.external_id}}/vaccine">vacunas</a></li>
                    <li><a href="/pet/health/{{pet.external_id}}/deworm">Desparasitaciones</a></li>
                    <li><a href="/pet/note/{{pet.id}}">nota(s)</a></li>
                </ul>
            </div>
        </container>

        <footer style="text-align: center;">
            <a href="/pet/pass/{{pet.external_id}}" data-download="pet_info.pkpass" role="button"
                class="outline contrast wallet-btn">
                <span class="material-symbols-outlined">wallet</span>
                Agregar a Wallet
            </a>
        </footer>
    </article>
    {% endfor %}
</div>