<div hx-get="/pet/list" hx-trigger="petRecordUpdated from:body">
    {% for pet in pets | default(value=[]) %}
    <article hx-target="this" hx-swap="outerHTML">
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="/pet/details/{{pet.id}}">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-file-pencil">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                                <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                                <path d="M10 18l5 -5a1.414 1.414 0 0 0 -2 -2l-5 5v2h2z" />
                            </svg>
                            <strong>{{ pet.name | title }}</strong>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li><a href="/pet/qr_code/{{pet.external_id}}" download="qr_code_profile.png">qr_code</a></li>
                    <li><a href="/pet/pdf_report/{{pet.id}}" download="pet_report.pdf">pdf</a></li>
                </ul>
            </nav>
        </header>
        <container style="text-align: center;">
            <p>{{ pet.breed }} {{ pet.sex }} {{ pet.fmt_age }}</p>
            <p><code><a href="/info/{{pet.external_id}}">https://pet-info.link/info/{{pet.external_id}}</a></code>
            </p>
        </container>

        <ul>
            <li><a href="/pet/health/{{pet.external_id}}/weight">peso</a></li>
            <li><a href="/pet/health/{{pet.external_id}}/vaccine">vacunas</a></li>
            <li><a href="/pet/health/{{pet.external_id}}/deworm">Desparasitaciones</a></li>
            <li><a href="/pet/note/{{pet.id}}">nota(s)</a></li>
        </ul>

        <footer style="text-align: center;">
            <button class="outline contrast">
                <a href="/pet/pass/{{pet.external_id}}" >📱 Agregar a Wallet</a>
            </button>
        </footer>
    </article>
    {% endfor %}
</div>