{% extends "base.html" %}

{% block title %}
inicio
{% endblock title %}

{% block mid_nav_content %}
{% endblock mid_nav_content %}

{% block content %}

<section id="about">
    <h1>Acerca de ...</h1>
    <p>Esta plataforma te ayudara a gestionar lo relacionado a tu mascota <a href="/blog/about">mas información</a></p>
</section>

<section>
    <h1>Suscripción</h1>
    <div class="grid">
        <div>
            <article>
                <header style="text-align: center;"><b>Placa PetInfo</b></header>
                Beneficios
                <ul>
                    <li>Una placa de identificación para collar</li>
                    <li>Registrar una mascota en nuestra plataforma</li>
                    <li>Registrar Vacunas y Desparasitaciones</li>
                    <li>Registrar pesos</li>
                    <li>Crear un perfil público</li>
                    <li>Codigo qr al perfil de tu mascota</li>
                    <li>Exportar su informacion: pdf</li>
                    <li>Recibir recordatorios por whats app</li>
                </ul>
                <footer style="text-align: center;"><a
                        href="https://wa.me/525586455912?text=Quiero%20comprar%20una%20placa%20PetInfo"
                        target="_blank">Comprar</a></footer>
            </article>
        </div>
        <div>
            <article>
                <header style="text-align: center;"><b>Registro Mascota</b></header>
                Beneficios:
                <ul>
                    <li><del>Una placa de identificación para collar</del></li>
                    <li>Registrar una mascota en nuestra plataforma</li>
                    <li>Registrar Vacunas y Desparasitaciones</li>
                    <li>Registrar pesos</li>
                    <li>Crear un perfil público</li>
                    <li>Codigo qr al perfil de tu mascota</li>
                    <li>Exportar su informacion: pdf</li>
                    <li>Recibir recordatorios por whats app</li>
                </ul>
                <footer style="text-align: center;"><b>${{service_price}} mxn</b></footer>
            </article>
        </div>
    </div>


    Pasos a seguir:
    <ol>
        <li><a href="{{google_outh_auth_url}}">Iniciar sesión usando Google</a></li>
        <li>Disfrutar de los beneficios</li>
    </ol>
</section>

{% endblock content %}