{% extends "base.html" %}

{% block title %}
pets
{% endblock title %}

{% block meta_desc %}
lista de tus mascotas registradas
{% endblock meta_desc %}

{% block mid_nav_summary %}Mascotas{% endblock mid_nav_summary %}

{% block content %}
<nav style="padding: 1em;">
  <ul></ul>
  <ul><a href="pet/new" role="button" style="border-radius: 50%;"><strong>+</strong></a></ul>
</nav>

{% if get_pets_error %}
<div class="container" style="text-align: center;">
  <span aria-busy="true"> <code>Oops!</code> <i>Error al consultar sus mascotas</i></span>
  <p><small>Recarga el sitio e intenta de nuevo</small></p>
</div>
{% else %}
  {% include "widgets/pets.html" %}
{% endif %}

{% endblock content %}