{% extends "base.html" %}

{% block title %}
reminders
{% endblock title %}

{% block meta_desc %}
Recordatorios
{% endblock meta_desc %}

{% block mid_nav_summary %}Recordatorios{% endblock mid_nav_summary %}

{% block content %}

{% set modal_id = "reminder_modal" %}

{% if can_schedule_reminder %}
<div style="display: flex; gap: 0.75rem; margin-bottom: 1rem;">
    <input name="search" type="search" placeholder="Buscar recordatorio.." style="flex: 1;" />
    <button popovertarget="reminder_modal"
        style="border-radius: 50%; width: 3rem; height: 3rem; padding: 0.375rem; display: flex; align-items: center; justify-content: center; flex-shrink: 0;">
        <svg width="22" height="22" viewBox="0 0 32 32">
            <title>reminder</title>
            <path
                d="M30,23.3818l-2-1V20a6.0046,6.0046,0,0,0-5-5.91V12H21v2.09A6.0046,6.0046,0,0,0,16,20v2.3818l-2,1V28h6v2h4V28h6ZM28,26H16V24.6182l2-1V20a4,4,0,0,1,8,0v3.6182l2,1Z" />
            <path
                d="M28,6a2,2,0,0,0-2-2H22V2H20V4H12V2H10V4H6A2,2,0,0,0,4,6V26a2,2,0,0,0,2,2h4V26H6V6h4V8h2V6h8V8h2V6h4v6h2Z" />
        </svg>
    </button>
</div>
{% else %}
<nav style="padding: 1em;">
    <ul></ul>
    <ul><mark>ingrese un número de whatsapp en su perfil</mark></ul>
</nav>
{% endif %}
<div popover id="{{modal_id}}">
    <form method="dialog" style="padding: 2rem;" hx-post='/reminder' hx-swap="none" hx-on::after-request="this.reset()"
        hx-headers='js:{timezone: Intl.DateTimeFormat().resolvedOptions().timeZone}'>
        <fieldset>
            <label>
                Cuando?
                <input type="datetime-local" name="when" aria-label="Datetime local" required>
            </label>
            <label>
                Recordatorio
                <textarea name="body" placeholder="Cual seria el recordatorio"></textarea>
            </label>
        </fieldset>

        <button style="width: 100%;"
            hx-on:click="document.getElementById('{{modal_id}}').hidePopover()">Guardar</button>
    </form>
</div>

<table class="striped">
    <thead>
        <tr>
            <th>-</th>
            <th>Cuándo?</th>
            <th>Recordatorio</th>
        </tr>
    </thead>
    <tbody hx-get="/reminder/tbody" hx-trigger="reminderRecordUpdated from:body">
        {% include "widgets/tbody_reminder.html" %}
    </tbody>
</table>

{% endblock content %}